In [1]:
from numpy import array
import matplotlib.pyplot as plt
from keras.models import Sequential
from keras.layers import LSTM
from keras.layers import Dense
from keras.layers import Bidirectional
from sklearn.metrics import mean_squared_error
from sklearn import metrics 
import pandas as pd

Using TensorFlow backend.

In [6]:
df = pd.read_excel('owid-covid-data.xlsx')

In [7]:
df

,iso_code,location,date,total_cases,new_cases,total_deaths,new_deaths,total_cases_per_million,new_cases_per_million,total_deaths_per_million,new_deaths_per_million,total_tests,new_tests,total_tests_per_thousand,new_tests_per_thousand,tests_units
0,ABW,Aruba,2020-03-13,2,2,0,0,18.733,18.733,0.000,0.000,NaN,NaN,NaN,NaN,NaN
1,ABW,Aruba,2020-03-20,4,2,0,0,37.465,18.733,0.000,0.000,NaN,NaN,NaN,NaN,NaN
2,ABW,Aruba,2020-03-24,12,8,0,0,112.395,74.930,0.000,0.000,NaN,NaN,NaN,NaN,NaN
3,ABW,Aruba,2020-03-25,17,5,0,0,159.227,46.831,0.000,0.000,NaN,NaN,NaN,NaN,NaN
4,ABW,Aruba,2020-03-26,19,2,0,0,177.959,18.733,0.000,0.000,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13075,ZWE,Zimbabwe,2020-04-21,25,0,3,0,1.682,0.000,0.202,0.000,NaN,NaN,NaN,NaN,NaN
13076,ZWE,Zimbabwe,2020-04-22,28,3,3,0,1.884,0.202,0.202,0.000,NaN,NaN,NaN,NaN,NaN
13077,ZWE,Zimbabwe,2020-04-23,28,0,3,0,1.884,0.000,0.202,0.000,NaN,NaN,NaN,NaN,NaN
13078,ZWE,Zimbabwe,2020-04-24,29,1,3,0,1.951,0.067,0.202,0.000,NaN,NaN,NaN,NaN,NaN
13079,ZWE,Zimbabwe,2020-04-25,29,0,4,1,1.951,0.000,0.269,0.067,NaN,NaN,NaN,NaN,NaN

In [8]:
df = df[['location','total_cases']]

In [5]:
df

       location  total_cases
0         Aruba            2
1         Aruba            4
2         Aruba           12
3         Aruba           17
4         Aruba           19
...         ...          ...
13075  Zimbabwe           25
13076  Zimbabwe           28
13077  Zimbabwe           28
13078  Zimbabwe           29
13079  Zimbabwe           29

[13080 rows x 2 columns]

In [9]:
lis1 = dict()
for rows in df.itertuples():
    if rows.location not in lis1:
        lis1[rows.location] = []
    lis1[rows.location].append(rows.total_cases)

In [10]:
X = []
y = []
for key in lis1.keys():
    lis = lis1[key]
    n = len(lis)
    for i in range(0,n-3):
        temp = lis[i:i+3]
        X.append(temp)
        y.append(lis[i+3])

In [11]:
X = array(X)
X = X.reshape(len(X),1,3)
print(len(y))
X

12462

array([[[ 2,  4, 12]],

       [[ 4, 12, 17]],

       [[12, 17, 19]],

       ...,

       [[25, 25, 28]],

       [[25, 28, 28]],

       [[28, 28, 29]]])

In [9]:
# def split_sequence(sequence, n_steps):
#     X, y = list(), list()
#     for i in range(len(sequence)): 
#         end_ix = i + n_steps
#         if end_ix > len(sequence)-1:
#             break
#         seq_x, seq_y = sequence[i:end_ix], sequence[end_ix]
#         X.append(seq_x)
#         y.append(seq_y)
#     return array(X), array(y)

In [10]:
# raw_seq = [48,63,71,81,91,102,112,126,146,171,198,256,334,403,497,571,657,730,883,1019,1139,1326,1635,2059,2545,3105,3684,4289,4778,5351,5916,6729,7600,8454,9212]
# # choose a number of time steps
# n_steps = 3
# # split into samples
# X, y = split_sequence(raw_seq, n_steps)
# print('X=')
# print(X)
# print('y')
# print(y)
# n_features = 1
# X = X.reshape((X.shape[0], X.shape[1], n_features))

In [12]:
X

array([[[ 2,  4, 12]],

       [[ 4, 12, 17]],

       [[12, 17, 19]],

       ...,

       [[25, 25, 28]],

       [[25, 28, 28]],

       [[28, 28, 29]]])

In [13]:
model = Sequential()
model.add(Bidirectional(LSTM(100, activation='relu'), input_shape=(1, 3)))
model.add(Dense(1))
model.compile(optimizer='adam', loss='mse')

In [14]:
model.fit(X, y, epochs=300, verbose=2)

Epoch 1/300
 - 2s - loss: 101580053.7213
Epoch 2/300
 - 1s - loss: 2525746.8734
Epoch 3/300
 - 1s - loss: 2291542.3500
Epoch 4/300
 - 1s - loss: 9388224.9079
Epoch 5/300
 - 1s - loss: 2722302.6203
Epoch 6/300
 - 1s - loss: 2305822.3499
Epoch 7/300
 - 1s - loss: 1564394.4622
Epoch 8/300
 - 1s - loss: 4009540.8797
Epoch 9/300
 - 1s - loss: 4833670.8440
Epoch 10/300
 - 1s - loss: 1669162.7744
Epoch 11/300
 - 1s - loss: 1448724.3229
Epoch 12/300
 - 1s - loss: 2642119.2212
Epoch 13/300
 - 1s - loss: 1338330.6313
Epoch 14/300
 - 1s - loss: 1338361.5693
Epoch 15/300
 - 1s - loss: 1378826.2851
Epoch 16/300
 - 1s - loss: 2728342.5823
Epoch 17/300
 - 1s - loss: 919524.5755
Epoch 18/300
 - 1s - loss: 2348381.7862
Epoch 19/300
 - 1s - loss: 1972467.7095
Epoch 20/300
 - 1s - loss: 2129865.3028
Epoch 21/300
 - 1s - loss: 2282700.5754
Epoch 22/300
 - 1s - loss: 653538.0320
Epoch 23/300
 - 1s - loss: 955275.2261
Epoch 24/300
 - 1s - loss: 774458.4861
Epoch 25/300
 - 1s - loss: 637650.6872
Epoch 26/300
 - 1s - loss: 3031761.8713
Epoch 27/300
 - 1s - loss: 1728629.2881
Epoch 28/300
 - 1s - loss: 2932027.8343
Epoch 29/300
 - 1s - loss: 1461914.2382
Epoch 30/300
 - 1s - loss: 1361789.5448
Epoch 31/300
 - 1s - loss: 1493715.2252
Epoch 32/300
 - 1s - loss: 989879.8565
Epoch 33/300
 - 1s - loss: 2453024.4397
Epoch 34/300
 - 1s - loss: 743149.2400
Epoch 35/300
 - 1s - loss: 620188.1964
Epoch 36/300
 - 1s - loss: 510931.9692
Epoch 37/300
 - 1s - loss: 1047325.4870
Epoch 38/300
 - 1s - loss: 645300.4465
Epoch 39/300
 - 1s - loss: 884024.6530
Epoch 40/300
 - 1s - loss: 1242277.1813
Epoch 41/300
 - 1s - loss: 801722.6231
Epoch 42/300
 - 1s - loss: 823517.3423
Epoch 43/300
 - 1s - loss: 1914624.6877
Epoch 44/300
 - 1s - loss: 2035318.3633
Epoch 45/300
 - 1s - loss: 416359.9114
Epoch 46/300
 - 1s - loss: 741370.4849
Epoch 47/300
 - 1s - loss: 1005654.9157
Epoch 48/300
 - 1s - loss: 1453946.0779
Epoch 49/300
 - 1s - loss: 602459.2214
Epoch 50/300
 - 1s - loss: 718022.2921
Epoch 51/300
 - 1s - loss: 1944405.7956
Epoch 52/300
 - 1s - loss: 1068316.1976
Epoch 53/300
 - 1s - loss: 684187.6496
Epoch 54/300
 - 1s - loss: 1491388.0132
Epoch 55/300
 - 1s - loss: 543043.0994
Epoch 56/300
 - 1s - loss: 618402.3321
Epoch 57/300
 - 1s - loss: 759657.7029
Epoch 58/300
 - 1s - loss: 1030106.4301
Epoch 59/300
 - 1s - loss: 750537.7528
Epoch 60/300
 - 1s - loss: 1596882.6647
Epoch 61/300
 - 1s - loss: 1545665.2749
Epoch 62/300
 - 1s - loss: 679175.0734
Epoch 63/300
 - 1s - loss: 805245.8508
Epoch 64/300
 - 1s - loss: 647597.5912
Epoch 65/300
 - 2s - loss: 1611615.2118
Epoch 66/300
 - 2s - loss: 660031.3251
Epoch 67/300
 - 1s - loss: 1238048.2534
Epoch 68/300
 - 2s - loss: 597774.2129
Epoch 69/300
 - 1s - loss: 949509.2725
Epoch 70/300
 - 1s - loss: 2797446.4636
Epoch 71/300
 - 1s - loss: 320256.0237
Epoch 72/300
 - 1s - loss: 348746.7392
Epoch 73/300
 - 1s - loss: 440680.7674
Epoch 74/300
 - 1s - loss: 728515.8843
Epoch 75/300
 - 2s - loss: 472304.4876
Epoch 76/300
 - 1s - loss: 4094668.3840
Epoch 77/300
 - 1s - loss: 444860.3612
Epoch 78/300
 - 1s - loss: 760873.6889
Epoch 79/300
 - 1s - loss: 473101.9984
Epoch 80/300
 - 1s - loss: 710831.5875
Epoch 81/300
 - 1s - loss: 443144.3799
Epoch 82/300
 - 1s - loss: 1927557.4092
Epoch 83/300
 - 1s - loss: 724659.4985
Epoch 84/300
 - 1s - loss: 706590.4045
Epoch 85/300
 - 1s - loss: 2648950.1091
Epoch 86/300
 - 1s - loss: 841229.2506
Epoch 87/300
 - 1s - loss: 524357.4543
Epoch 88/300
 - 1s - loss: 632856.3144
Epoch 89/300
 - 1s - loss: 5252031.2520
Epoch 90/300
 - 1s - loss: 393279.4618
Epoch 91/300
 - 1s - loss: 360382.5143
Epoch 92/300
 - 1s - loss: 478561.2302
Epoch 93/300
 - 1s - loss: 417221.9783
Epoch 94/300
 - 1s - loss: 658647.5529
Epoch 95/300
 - 1s - loss: 3168977.5149
Epoch 96/300
 - 1s - loss: 623180.0240
Epoch 97/300
 - 1s - loss: 333511.8322
Epoch 98/300
 - 1s - loss: 525853.5099
Epoch 99/300
 - 1s - loss: 1136737.8999
Epoch 100/300
 - 2s - loss: 573178.6497
Epoch 101/300
 - 1s - loss: 498874.4213
Epoch 102/300
 - 1s - loss: 585857.3704
Epoch 103/300
 - 1s - loss: 5617365.5937
Epoch 104/300
 - 1s - loss: 300415.2801
Epoch 105/300
 - 1s - loss: 578519.6963
Epoch 106/300
 - 1s - loss: 410346.0918
Epoch 107/300
 - 1s - loss: 433204.3092
Epoch 108/300
 - 1s - loss: 275802.9245
Epoch 109/300
 - 1s - loss: 257600.7451
Epoch 110/300
 - 1s - loss: 940912.7852
Epoch 111/300
 - 1s - loss: 628884.1510
Epoch 112/300
 - 1s - loss: 491031.6640
Epoch 113/300
 - 1s - loss: 330362.9764
Epoch 114/300
 - 1s - loss: 561293.4807
Epoch 115/300
 - 1s - loss: 944846.4733
Epoch 116/300
 - 1s - loss: 714997.4353
Epoch 117/300
 - 1s - loss: 1129646.8725
Epoch 118/300
 - 1s - loss: 574753.9617
Epoch 119/300
 - 1s - loss: 406987.1919
Epoch 120/300
 - 1s - loss: 569977.9702
Epoch 121/300
 - 1s - loss: 1678685.5797
Epoch 122/300
 - 1s - loss: 843257.3590
Epoch 123/300
 - 1s - loss: 532270.4711
Epoch 124/300
 - 1s - loss: 2200794.9860
Epoch 125/300
 - 1s - loss: 747323.0966
Epoch 126/300
 - 1s - loss: 452363.2729
Epoch 127/300
 - 1s - loss: 1150228.0151
Epoch 128/300
 - 1s - loss: 1104038.4596
Epoch 129/300
 - 1s - loss: 499278.6812
Epoch 130/300
 - 1s - loss: 1172571.5065
Epoch 131/300
 - 1s - loss: 553887.3568
Epoch 132/300
 - 1s - loss: 675205.4099
Epoch 133/300
 - 1s - loss: 744624.5269
Epoch 134/300
 - 1s - loss: 496543.2215
Epoch 135/300
 - 1s - loss: 1074521.7088
Epoch 136/300
 - 1s - loss: 599960.6884
Epoch 137/300
 - 1s - loss: 1089449.7342
Epoch 138/300
 - 1s - loss: 2756930.0345
Epoch 139/300
 - 1s - loss: 282031.9761
Epoch 140/300
 - 1s - loss: 617211.3762
Epoch 141/300
 - 1s - loss: 747416.8439
Epoch 142/300
 - 1s - loss: 707171.8412
Epoch 143/300
 - 1s - loss: 567853.0511
Epoch 144/300
 - 1s - loss: 934449.1807
Epoch 145/300
 - 1s - loss: 1119607.2729
Epoch 146/300
 - 1s - loss: 416403.0592
Epoch 147/300
 - 1s - loss: 448029.2382
Epoch 148/300
 - 1s - loss: 1524357.8440
Epoch 149/300
 - 1s - loss: 1702191.1855
Epoch 150/300
 - 1s - loss: 397824.2549
Epoch 151/300
 - 1s - loss: 729181.8083
Epoch 152/300
 - 1s - loss: 472029.3344
Epoch 153/300
 - 1s - loss: 270235.5146
Epoch 154/300
 - 1s - loss: 393696.5667
Epoch 155/300
 - 1s - loss: 1419151.0051
Epoch 156/300
 - 1s - loss: 262083.5093
Epoch 157/300
 - 1s - loss: 472499.2644
Epoch 158/300
 - 1s - loss: 1279030.2490
Epoch 159/300
 - 1s - loss: 1377796.6779
Epoch 160/300
 - 1s - loss: 360454.5951
Epoch 161/300
 - 1s - loss: 722320.2640
Epoch 162/300
 - 1s - loss: 763731.5685
Epoch 163/300
 - 1s - loss: 1082451.0555
Epoch 164/300
 - 1s - loss: 422098.3787
Epoch 165/300
 - 1s - loss: 340853.5950
Epoch 166/300
 - 1s - loss: 500537.1626
Epoch 167/300
 - 1s - loss: 6203475.7216
Epoch 168/300
 - 1s - loss: 352308.8269
Epoch 169/300
 - 1s - loss: 293361.3731
Epoch 170/300
 - 1s - loss: 338715.8195
Epoch 171/300
 - 1s - loss: 725947.1469
Epoch 172/300
 - 1s - loss: 612072.0322
Epoch 173/300
 - 1s - loss: 1475589.5334
Epoch 174/300
 - 1s - loss: 499736.8680
Epoch 175/300
 - 1s - loss: 440051.5866
Epoch 176/300
 - 1s - loss: 823489.4271
Epoch 177/300
 - 1s - loss: 403336.8380
Epoch 178/300
 - 1s - loss: 711463.2537
Epoch 179/300
 - 1s - loss: 297878.0233
Epoch 180/300
 - 1s - loss: 650933.4760
Epoch 181/300
 - 1s - loss: 353886.7622
Epoch 182/300
 - 1s - loss: 448183.7138
Epoch 183/300
 - 1s - loss: 577753.1993
Epoch 184/300
 - 1s - loss: 287477.1051
Epoch 185/300
 - 1s - loss: 311460.5491
Epoch 186/300
 - 1s - loss: 417924.0981
Epoch 187/300
 - 1s - loss: 1330811.1816
Epoch 188/300
 - 1s - loss: 769185.8326
Epoch 189/300
 - 1s - loss: 741478.5917
Epoch 190/300
 - 1s - loss: 1019970.8293
Epoch 191/300
 - 1s - loss: 652071.1402
Epoch 192/300
 - 1s - loss: 723188.8246
Epoch 193/300
 - 1s - loss: 744907.8210
Epoch 194/300
 - 1s - loss: 1940267.4233
Epoch 195/300
 - 1s - loss: 1215302.5425
Epoch 196/300
 - 1s - loss: 739517.1411
Epoch 197/300
 - 1s - loss: 770356.0604
Epoch 198/300
 - 1s - loss: 737860.8079
Epoch 199/300
 - 1s - loss: 1500286.5155
Epoch 200/300
 - 1s - loss: 719341.9826
Epoch 201/300
 - 1s - loss: 621779.7286
Epoch 202/300
 - 1s - loss: 1094730.3681
Epoch 203/300
 - 1s - loss: 861351.7799
Epoch 204/300
 - 1s - loss: 343824.7128
Epoch 205/300
 - 1s - loss: 444920.6983
Epoch 206/300
 - 1s - loss: 460933.6848

Epoch 207/300
 - 1s - loss: 483814.9940
Epoch 208/300
 - 1s - loss: 876457.7251
Epoch 209/300
 - 1s - loss: 420964.8603
Epoch 210/300
 - 1s - loss: 606195.8583
Epoch 211/300
 - 1s - loss: 429918.8365
Epoch 212/300
 - 1s - loss: 361893.2753
Epoch 213/300
 - 1s - loss: 783648.4227
Epoch 214/300
 - 1s - loss: 495116.6787
Epoch 215/300
 - 1s - loss: 752798.2035
Epoch 216/300
 - 1s - loss: 614307.5563
Epoch 217/300
 - 1s - loss: 1482133.5753
Epoch 218/300
 - 1s - loss: 278493.2939
Epoch 219/300
 - 1s - loss: 355489.5218
Epoch 220/300
 - 1s - loss: 446261.8070
Epoch 221/300
 - 1s - loss: 273931.3152
Epoch 222/300
 - 1s - loss: 1121399.2980
Epoch 223/300
 - 1s - loss: 1106796.6293
Epoch 224/300
 - 1s - loss: 580790.3561
Epoch 225/300
 - 1s - loss: 740560.4515
Epoch 226/300
 - 1s - loss: 575219.4929
Epoch 227/300
 - 1s - loss: 1887046.7710
Epoch 228/300
 - 1s - loss: 671079.7859
Epoch 229/300
 - 1s - loss: 426140.6146
Epoch 230/300
 - 1s - loss: 346077.8112
Epoch 231/300
 - 1s - loss: 507363.4931
Epoch 232/300
 - 1s - loss: 739731.8007
Epoch 233/300
 - 1s - loss: 362569.3954
Epoch 234/300
 - 1s - loss: 650559.1257
Epoch 235/300
 - 1s - loss: 492006.0801
Epoch 236/300
 - 1s - loss: 1910556.6486
Epoch 237/300
 - 1s - loss: 373772.9955
Epoch 238/300
 - 1s - loss: 710994.1834
Epoch 239/300
 - 1s - loss: 984919.1892
Epoch 240/300
 - 1s - loss: 589929.0739
Epoch 241/300
 - 1s - loss: 678872.1109
Epoch 242/300
 - 1s - loss: 836371.8599
Epoch 243/300
 - 1s - loss: 439359.8695
Epoch 244/300
 - 1s - loss: 350664.6957
Epoch 245/300
 - 1s - loss: 683681.3785
Epoch 246/300
 - 1s - loss: 1540147.8401
Epoch 247/300
 - 1s - loss: 200294.9485
Epoch 248/300
 - 1s - loss: 708586.8273
Epoch 249/300
 - 1s - loss: 200484.4452
Epoch 250/300
 - 1s - loss: 368071.7809
Epoch 251/300
 - 1s - loss: 880977.2009
Epoch 252/300
 - 1s - loss: 314590.7573
Epoch 253/300
 - 1s - loss: 420575.7111
Epoch 254/300
 - 1s - loss: 818781.7934
Epoch 255/300
 - 1s - loss: 1496581.9344
Epoch 256/300
 - 1s - loss: 230817.9818
Epoch 257/300
 - 1s - loss: 230745.1115
Epoch 258/300
 - 1s - loss: 434715.4089
Epoch 259/300
 - 1s - loss: 537312.1577
Epoch 260/300
 - 1s - loss: 343513.2741
Epoch 261/300
 - 1s - loss: 637666.7121
Epoch 262/300
 - 1s - loss: 324933.8365
Epoch 263/300
 - 1s - loss: 1060986.9630
Epoch 264/300
 - 1s - loss: 295151.4191
Epoch 265/300
 - 1s - loss: 1105814.7360
Epoch 266/300
 - 1s - loss: 704599.2645
Epoch 267/300
 - 1s - loss: 341102.3903
Epoch 268/300
 - 1s - loss: 371934.7125
Epoch 269/300
 - 1s - loss: 366247.8843
Epoch 270/300
 - 1s - loss: 268108.1513
Epoch 271/300
 - 1s - loss: 885507.6212
Epoch 272/300
 - 1s - loss: 696465.8906
Epoch 273/300
 - 1s - loss: 336436.6620
Epoch 274/300
 - 1s - loss: 197049.9108
Epoch 275/300
 - 1s - loss: 1682822.8216
Epoch 276/300
 - 1s - loss: 203285.7148
Epoch 277/300
 - 1s - loss: 297525.8623
Epoch 278/300
 - 1s - loss: 498220.2037
Epoch 279/300
 - 1s - loss: 362408.4999
Epoch 280/300
 - 1s - loss: 518677.3471
Epoch 281/300
 - 1s - loss: 444713.3167
Epoch 282/300
 - 1s - loss: 1072766.1706
Epoch 283/300
 - 1s - loss: 341711.1176
Epoch 284/300
 - 1s - loss: 608486.4119
Epoch 285/300
 - 1s - loss: 160589.5647
Epoch 286/300
 - 1s - loss: 429189.4930
Epoch 287/300
 - 1s - loss: 302735.8387
Epoch 288/300
 - 1s - loss: 432769.8137
Epoch 289/300
 - 1s - loss: 435774.4630
Epoch 290/300
 - 1s - loss: 296882.1297
Epoch 291/300
 - 1s - loss: 390766.7513
Epoch 292/300
 - 1s - loss: 337458.2771
Epoch 293/300
 - 1s - loss: 341144.7420
Epoch 294/300
 - 1s - loss: 497766.1110
Epoch 295/300
 - 1s - loss: 670365.1376
Epoch 296/300
 - 1s - loss: 632838.1108
Epoch 297/300
 - 1s - loss: 411504.8165
Epoch 298/300
 - 1s - loss: 237222.5238
Epoch 299/300
 - 1s - loss: 422919.7696
Epoch 300/300
 - 1s - loss: 618426.5727

In [15]:
# a=7600
# b=8454
# c=9212
# for _ in range(10):
#     x_input = array([a, b, c])
  
#     x_input = x_input.reshape((1, n_steps, n_features))
#     yhat = model.predict(x_input, verbose=0)
#     print(yhat)
#     a=b
#     b=c
#     c=yhat
# D=[]
# n=35
# scale=[]
# for i in range(0,9500,500):
#     scale.append(i)
# for i in range(4,(n+1),1):
#     D.append(i)

#plt.figure(figsize=(18,10))
#plt.xlabel("Cases")
#plt.ylabel("day")
#plt.plot(D,y)
#plt.plot(D,yhatd)
#plt.yticks(scale)
import random
X_test = []
y_test = []
indexes = random.sample(range(0,len(y)-1),100)
for i in indexes:
    X_test.append(X[i])
    y_test.append(y[i])
X_test = array(X_test)
X_test.shape

(100, 1, 3)

In [16]:
yhatd=model.predict(X_test)
print(model.summary())
print("k")

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
bidirectional_1 (Bidirection (None, 200)               83200
_________________________________________________________________
dense_1 (Dense)              (None, 1)                 201
=================================================================
Total params: 83,401
Trainable params: 83,401
Non-trainable params: 0
_________________________________________________________________
None
k

In [17]:
# print(yhatd)
# print(y_test)
# print('MSE=')
from sklearn import metrics
# print(metrics.mean_squared_error(yhatd,y_test))
print ("MSE   ",metrics.mean_squared_error(yhatd,y_test))
print ("RMSE   ",metrics.mean_squared_error(yhatd,y_test)**0.5)

MAE = 0
for i in range(0,len(y_test)):
    MAE = MAE + (abs(y_test[i]-yhatd[i]))
print('MAE   ',MAE/len(y_test))
# Q=X[0:len(X)]
# P=yhatd[0:len(yhatd)]
# r=[]
# for i in range(len(X)):
# 	r.append(i)
# sum=0
# for i in range(len(r)):
#   #print(abs(Q[i]-P[i]))
#   sum=sum+abs(((yhatd[i]-y[i])/y[i]))
#   #print(sum)

#   #print(abs([i]-yhatd[i]))
# #print('a')
# print(sum,len(r))
# print("MAPI", (sum/len(r))*100)

MSE    386513.3969950157
RMSE    621.7020162384996
MAE    [112.43588789]